<form class="user-register-form rounded" action="/users" method="post">
	<input class="user-register-form-name rounded" type="text" name="username" />
	<input type="submit" value="Register" />
</form>